<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backstage.base.mapper.UserManagementMapper">
    <sql id="Base_Column_List">
    id,user_uuid, username, password, email, telephone, role, image, last_ip, last_time
  </sql>
  <select id="selectByUserName" parameterType="java.lang.String" resultType="com.backstage.base.models.User">
    select
      <include refid="Base_Column_List" />
    from user
    where username = #{name,jdbcType=VARCHAR}
  </select>

  <insert id="insert" parameterType="com.backstage.base.models.User">
    insert into user (
     user_uuid, username, password, email, telephone, role, image, last_ip, last_time
      )
    values ( #{user_uuid,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{email,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{role,jdbcType=TIMESTAMP},
      #{image,jdbcType=TIMESTAMP}, #{last_ip,jdbcType=VARCHAR}, #{last_time,jdbcType=TIMESTAMP}
  </insert>

</mapper>